{% extends 'base.html' %}

{% block title %}
Curitibread
{% endblock %}

{% block content%}
<h4>Missão: Garantir que nossos clientes consumam os produtos com a melhor qualidade possível.</h4>

<p>Reservas até 18:00 de:</p>
    <ul>
        <li>Segunda-feira (para retirada na quarta-feira)</li>
        <li>Quarta-feira (para retirada na sexta-feira)</li>
        <li>Sábado (para retirada na segunda-feira).</li>
    </ul>

<p>Obs: Capacidade momentânea 4 pães e 1 Foccacia  (empreendimento em expansão)</p>
{% endblock %}